

A {text-decoration: none;} 


body{ }
/*---------------------------------------------------------------------------*/
/*Imagens*/
/*.img{height: 136px; width: 140px; position: absolute; right: 163px; animation: flutuar 5s ease-in-out infinite; }*/

.imag{ height: 170px;width: 315px;border-radius: 10px;}

.img6{align-items: center;}

/*---------------------------------------------------------------------------*/
/*Botoes*/

#botao{padding-left: 20%;}

.btn{
	height: 35px;
	width: 90px;
	background:  rgba(191, 243, 223, 0.274);
	font-size: 14px;
	border-radius: 20px;
	border: none;
	margin-top: 1%;
	margin-bottom: 3%;
}
.btn:hover{background: rgba(221, 52, 179, 0.733);}

.botao-form{
	padding: 11px 21px; 
	vertical-align: middle; 
	background: rgba(4, 205, 250, 0.979);
	color: rgb(8, 7, 6);
	border-radius:10px; 
	font-size: 20px;
	margin: 1%; 
	

}

/*---------------------------------------------------------------------------*/

.paragrafo{
	margin-left: 2%;
	margin-top: 1%;
	font-size: 20px;
	

}

.paragrafo-div{
	font-size: 18px;
	margin: 1%;

}



br{box-shadow: 0 0 0 10px;
}


/*Apresentação*/

.apresentação{
	display: flex;
	flex-wrap: wrap;
	background-color: #F2F5F7
	
}

/*Navegação*/

.nav{
	font-size: 20px;
	padding-top: 2%;
	text-decoration: #CCC;
	text-align: center;
	background: linear-gradient(  rgb(109, 232, 236),  rgb(64, 170, 231));
    background-repeat: no-repeat;
	margin-bottom: 7%;
	background-position: auto ;
	background-size: cover;
	
}


li {list-style-type: none;}

.container {width: 94%;margin: 0 auto;}

.titulo{text-align: center;
	padding-top: 5%;
	color: rgb(64, 170, 231);
	font-size: 27px;
	margin-bottom: 12px;
	font-weight: bold;


}

.titulo:hover{
	color: black;
}


/*Hobbies*/

.conteudo{
	background: #F2F5F7;
	padding-bottom:  2%;
	
}
.formação{
	background: #F2F5F7;
	padding-bottom:  2%;
	
}

.conteudo-hobbies-li:hover{background-color: black;}


/*---------------------------------------------------------------------------*/

/*Skills*/


.conteudo-skills-li:hover{background-color: black;}

/*---------------------------------------------------------------------------*/

/*Formação Academica*/


.formacao__conteudo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3.5rem 0;
    align-items: center;
    line-height: 1.8;
}




/*---------------------------------------------------------------------------*/
input {
	width: 90%;
	height: 35px;
	
	font-size: 19px;
	margin: 1%;

	
}

textarea{
	width: 90%;
	height: 200px;
	font-size:19px ;
	margin: 1%;
}

/*---------------------------------------------------------------------------*/
/*Experiencia*/

.experiencia{
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	
	

}

.experiencia-li{
	
	margin: 2% ;
	
}
	
.class{display: grid;grid-template-columns: 50% 50%;}

.contato1{ font-size: 29px; font-weight: bold; color: rgb(64, 170, 231);}

.rodape{background: linear-gradient(  rgb(109, 232, 236),  rgb(64, 170, 231)); color: #F2F5F7; font-weight: bold;}



@media screen and (min-width: 0) {
	.conteudo-skills{ display: flex;  flex-wrap: wrap;  justify-content: center; }
	.conteudo-skills-li{
		height: 20%;
		width: 30%;
		background-color: #fafafa;
		text-align: center;
		align-items: center;
		margin: 1%;
		border-radius: 6px;
		box-shadow: 10px 5px 5px #CCC;
		color: rgb(64, 170, 231);
		transition: .3s;
		position: relative;
		padding: 20px 0 20px;
	}
	/*-------------------------------------*/
	.conteudo-hobbies{display: flex;  flex-wrap: wrap;  justify-content: center; }


	.conteudo-hobbies-li{
		height: 20%;
		width: 30%;
		background-color: #fafafa;
		margin: 1%;
		color: rgb(64, 170, 231);
		transition: .3s;
		position: relative;
		border-radius: 6px;
		box-shadow: 10px 5px 5px #CCC;
		text-align: center;
		align-items: center;
		padding: 20px 0 20px;
	}
	/*--------------------------------------*/
	.menu-formação{display: flex;  flex-wrap: wrap;  justify-content: center;}
	.formaçao-menu-li{
	
		height: auto;
		width: 50%;
		padding-top: 70px;
		background-color: #fafafa;
		text-align: center;
		align-items: center;
		color: rgb(0, 0, 5);
		margin: 2% ;
		padding-bottom: 15%;
		transition: .3s;
		position: relative;
		box-shadow: 10px 5px 5px #CCC;
		border-radius: 6px;
		
	}
	/*--------------------------------------------*/
	
	
	.nav-1{opacity: 0%; }

	.class{display: flex;  flex-wrap: wrap;  justify-content: center;}
	.img6{ height: 294px;width: 164px;margin-right: 1px;}

	.apresentação{
		display: inline;
		flex-wrap: wrap;
		background-color: #F2F5F7
		
		
		
	}
	.titulo-inicio{
		color: rgb(12, 161, 247);
		font-size:28px ;
		margin-left: 2%;
	}

	#apresentação-li-01{
		
		text-align: center;
		margin-top: 4%;
		margin-bottom: 4%;
		
		
	
		
	}

	.texto1{
		font-size: 30px;
		color: rgb(64, 170, 231);
		margin-left: 2%;
		margin-top: 1%;
		text-align: center;
		
	
	}
	.texto{
		
		font-size: 20px;
		text-align: center;
		
	
	}
	.nome1{

		position: relative;
		top: 2%;
		width: 50%;
		font-size: 28px;
		color: rgb(64, 170, 231);
		margin: 2%;
	 }
	

}





@media screen and (min-width: 768px) {

	.conteudo-skills{display: flex;flex-wrap: wrap; justify-content: center;}
	.conteudo-skills-li{
		height: 100px;
		width: 20%;
		background-color: #fafafa;
		text-align: center;
		align-items: center;
		margin: 1%;
		border-radius: 6px;
		box-shadow: 10px 5px 5px #CCC;
		color: rgb(64, 170, 231);
		transition: .3s;
		position: relative;
		padding: 20px 0 20px;
	
	}
	/*---------------------------------*/
	.conteudo-hobbies{display: flex;flex-wrap: wrap;justify-content: center;}
	.conteudo-hobbies-li{
		height: 100px;
		width: 20%;
		background-color: #fafafa;
		margin: 1%;
		color: rgb(64, 170, 231);
		transition: .3s;
		position: relative;
		border-radius: 6px;
		box-shadow: 10px 5px 5px #CCC;
		text-align: center;
		align-items: center;
		padding: 20px 0 20px;
	}
	/*--------------------------------*/
	.menu-formação{display: flex;flex-wrap: wrap; justify-content: center;}
	.formaçao-menu-li{
	
		height: 200px;
		width: 20%;
		padding-top: 70px;
		background-color: #fafafa;
		text-align: center;
		color: rgb(0, 0, 8);
		margin: 3% ;
		transition: .3s;
		padding-bottom: 1%;
		position: relative;
		box-shadow: 10px 5px 5px #CCC;
		border-radius: 6px;
		
	}
	/*-----------------------------*/
	.nav-1{opacity: 100%;}

	.class{display: flex;  flex-wrap: wrap;  justify-content: center;}
	.img6{ height: 494px;width: 364px;margin-right: 1px;}

	.titulo-inicio{
		color: rgb(12, 161, 247);
		font-size:35px ;
		margin-left: 2%;
	}

	#apresentação-li-01{
		height: 100px;
		width: 70%;
		text-align: left;
		
		margin: 1%;
	
		
	}

	.texto1{
		font-size: 30px;
		color: rgb(64, 170, 231);
		margin-left: 2%;
		margin-top: 1%;
		text-align: left;
	
	}

	.texto{
		height: 100px;
		width: 60%;
		align-items: right;
		font-size: 20px;
		
		text-align: left;
		margin: 2%;
	
	}

	.nome1{

		position: relative;
		top: 2%;
		width: 50%;
		font-size: 32px;
		color: rgb(64, 170, 231);
		margin: 2%;
	 }
	
	







}



